.container {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    width: 400px;
    padding: 30px;
    background: rgb(48,48,48);
    background: linear-gradient(180deg, rgba(48,48,48,1) 0%, rgba(37,37,37,1) 90%); 
}
