.horizontal1 {
    width: calc(var(--space));
}

.horizontal2 {
    width: calc(var(--space) * 2);
}

.horizontal3 {
    width: calc(var(--space) * 3);
}

.horizontal4 {
    width: calc(var(--space) * 4);
}

.horizontal5 {
    width: calc(var(--space) * 5);
}

.horizontal6 {
    width: calc(var(--space) * 6);
}

.horizontal7 {
    width: calc(var(--space) * 7);
}

.horizontal8 {
    width: calc(var(--space) * 8);
}
