.vertical1 {
    height: calc(var(--space));
}

.vertical2 {
    height: calc(var(--space) * 2);
}

.vertical13 {
    height: calc(var(--space) * 3);
}

.vertical4 {
    height: calc(var(--space) * 4);
}

.vertical5 {
    height: calc(var(--space) * 5);
}

.vertical6 {
    height: calc(var(--space) * 6);
}

.vertical7 {
    height: calc(var(--space) * 7);
}

.vertical8 {
    height: calc(var(--space) * 8);
}