.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    border: 3px solid;
    background: transparent;
    border-color: rgb(130, 250, 130);
    color: var(--text-color);
}

.button:hover {
    position: relative;
    bottom: 3px;
}