.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: auto;
}

.chat {
    flex-grow: 1;
}

.chatAndInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh
}

.createNewContainer {
    margin-top: calc(var(--space) * 2);
    margin-left: calc(var(--space) * 2);
}

.formContainer {
    position: sticky;
    bottom: 0;
    background-color: var(--color-white);
    z-index: 1000;
}

.chatForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 42em;
}
  