.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.chatForm {
    width: 40em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  