/* Spacing vertical */
.space1 {
    height: calc(var(--space));
}
  
.space2 {
  height: calc(var(--space) * 2);
}

.space3 {
  height: calc(var(--space) * 3);
}

.space4 {
  height: calc(var(--space) * 4);
}

.space5 {
  height: calc(var(--space) * 5);
}

.space6 {
  height: calc(var(--space) * 6);
}

.space7 {
  height: calc(var(--space) * 7);
}

.space8 {
  height: calc(var(--space) * 8);
}

/* Spacing horizontal */
.space_horizontal1 {
  width: calc(var(--space));
}

.space_horizontal2 {
  width: calc(var(--space) * 2);
}

.space_horizontal3 {
  width: calc(var(--space) * 3);
}

.space_horizontal4 {
  width: calc(var(--space) * 4);
}

.space_horizontal5 {
  width: calc(var(--space) * 5);
}

.space_horizontal6 {
  width: calc(var(--space) * 6);
}

